<div class="landing" [ngClass]="landingClass()">
    <aside class="landing-announcement">
        <span style="font-weight: 600; line-height: 1.5">Optimus UI is a community MIT licensed fork of PrimeNG, now closed source and using a commercial license.</span>
        <a href="https://primeui.dev/nextchapter" target="_blank" rel="noopener noreferrer" style="color: inherit; text-decoration: underline; font-weight: bold; line-height: 1.5">Read their announcement</a>
        <span style="font-weight: 500; line-height: 1.5; margin-left: 0.5rem">Optimus UI supports Angular v21+</span>
    </aside>
    <app-topbar [showConfigurator]="true" [showMenuButton]="false" />
    <hero-section />
    <features-section />
    <theme-section />
    <footer-section />
</div>
